name: "Deploy Infrastructure"

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "*.md"
      - "scripts/**"

permissions:
  contents: read

env:
  TerraformVersion: 1.2.4
  DeployRegion: westeurope
  SharedResourceGroup: devstarops-shared-rg
  SharedStorage: dsosharedstorage
  SharedStorageContainer: tfstate

jobs:
  deploy_test:
    name: "Deploy to Test"
    runs-on: ubuntu-latest
    concurrency:
      group: test
      cancel-in-progress: false
    environment:
      name: "test"
      url: "https://test.devstarops.com"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy terraform template
        uses: ./.github/actions/terraform-deployto
        with:
          environmentName: test
          terraformVersion: ${{ env.TerraformVersion }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          frontdoor_admin_user: ${{ secrets.FRONTDOOR_ADMIN_USER }}
          frontdoor_admin_password: ${{ secrets.FRONTDOOR_ADMIN_PASSWORD }}
          app1_admin_user: ${{ secrets.APP1_ADMIN_USER }}
          app1_admin_password: ${{ secrets.APP1_ADMIN_PASSWORD }}
          cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          cloudflare_service_key: ${{ secrets.CLOUDFLARE_SERVICE_KEY }}
          cloudflare_zone_id: ${{ secrets.CLOUDFLARE_ZONE_ID }}

  deploy_production:
    name: "Deploy to Production"
    runs-on: ubuntu-latest
    needs: deploy_test
    concurrency:
      group: production
      cancel-in-progress: false
    environment:
      name: "production"
      url: "https://devstarops.com"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy terraform template
        uses: ./.github/actions/terraform-deployto
        with:
          environmentName: production
          terraformVersion: ${{ env.TerraformVersion }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          frontdoor_admin_user: ${{ secrets.FRONTDOOR_ADMIN_USER }}
          frontdoor_admin_password: ${{ secrets.FRONTDOOR_ADMIN_PASSWORD }}
          app1_admin_user: ${{ secrets.APP1_ADMIN_USER }}
          app1_admin_password: ${{ secrets.APP1_ADMIN_PASSWORD }}
          cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          cloudflare_service_key: ${{ secrets.CLOUDFLARE_SERVICE_KEY }}
          cloudflare_zone_id: ${{ secrets.CLOUDFLARE_ZONE_ID }}
